{% extends 'albums/base.html' %}


{% block content %}
<aside class="side_bar">
    <h2>
        <article class='artist'>
            {{ artist }}
        </article>
    </h2>
</aside>
<div class='albums'>
{% for album in artist.albums.all %}
    <article class='album'>
        <h2><a href="{% url 'album_detail' pk=album.pk %}">{{ album }}</a></h2>
        <h5>{{ album.year }}</h5>
        <h5>
        {% if album.favorite == True %}
        <a class="btn btn-album" href="{% url 'album_not_favorite' pk=album.pk %}" onclick="return confirm('Not one of your favorites?')">
            {% include './icons/star-fill.svg' %}</a>
        {% elif album.favorite == False %}
        <a class="btn btn-album" href="{% url 'album_favorite' pk=album.pk %}" onclick="return confirm('One of your favorites?')">
            {% include './icons/star.svg' %}</a>
        {% endif %}
        <a class="btn btn-album" href="{% url 'album_delete' pk=album.pk %}"
        onclick="return confirm('Sure bout that?')">
        {% include './icons/trash.svg' %}
        <a class="btn btn-album" href="{% url 'album_edit' pk=album.pk %}">
            {% include './icons/pencil-fill.svg' %}</a>
        </h5>
    </article>
{% endfor %}
</div>
{% endblock %} 