/* @import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"; */

.page-header {
    background-color: #000000;
    margin-top: 0;
    margin-bottom: 30px;
    padding: 10px 10px 10px 20px;
}

body {
    background-color: #fff7ec;
}



.page-header h1
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
    color: #c25353;
    font-size: 36pt;
    text-decoration: none;
}



.date {
    color: #828282;
}

.little_buttons {
    display: flex;
    align-items: right;
}



.album-form textarea,
.album-form input {
    width: 40%;
}

.top-menu,
.top-menu:hover,
.top-menu:visited {
    color: #8a816e;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
    text-align: center;
}

.album a,
.album a:visited,
.artist a,
.artist a:visited {
    color: #000000;
    margin-right: 20px;
}

.album a:hover,
.artist a:hover {
    color: #fff7ec;
}

.wrapper {
    display:grid;
    grid-template-rows: auto;
    grid-gap: 20px;

}

.albums {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    align-items: stretch;
    justify-content: space-evenly;
    align-content: space-around;
    grid-gap: 20px;

}
.album {
    background-color: #d37f7f;
    font-family: 'avenir next', sans-serif; color: #000000;

    
}


.nav_bar {  
    color: black;
    background-color: rgb(211, 211, 211);
    /* text-decoration: none; */
    display:flex;
    align-items: center;
    justify-content: right;
    text-align:right;
    border-bottom: 20px solid #fff7ec;
    padding: 10px 10px 10px 10px;
    height: 65px;
    align-content: center;
}

.side_bar {
    font-family: 'avenir next', sans-serif; color: #000000;
    font-size: 10pt;
    display:flex;
    align-items: center;
    justify-content: right;
    /* text-align: right; */
    padding: 10px 10px 10px 10px;
    border-bottom: 20px solid #fff7ec;
    height: 65px;
    /* text-align: center; */
    background-color: rgb(211, 211, 211);

}

.actions {
    margin-right: 20px;
    font-family: 'avenir next', sans-serif; color: #000000;
    font-size: smaller;
    float: right;
    padding: 10px 0px 10px 10px;
    background-color: rgb(211, 211, 211);
}

.actions > a:visited {
    color:black;
}

.actions > a:hover {
    color: #fff7ec;
}

.album > .date,
.album > .actions,
.artist > .actions {
    float: right;
}

.btn-default,
.btn-default:visited {
    color: #000000;
    background: none;
    border-color: #C25100;
    float: right;
    padding: 10px 0px 10px 10px;
    margin-right: 20px;
}

.save {
    color: #000000;
    background: rgb(211, 211, 211);
    border-color: #C25100;
    float: right;
    width: 50px;
    /* padding: 10px 0px 10px 10px; */
    margin: 20px; 
}


.btn-default:hover {
    color: #FFFFFF;
    /* background-color: #000000; */
}

.btn-album {
    color: #000000;
    background: none;
    border-color: #C25100;
    float: right;
    padding: 10px 0px 10px 10px;
    /* margin-right: 20px; */

}

.post-form {
    display:grid;
    background-color: #d37f7f;
    padding: 10px 0px 0px 10px;
    font-family: 'avenir next', sans-serif; color: #000000;
    font-size:10pt;
    margin-left: 20px;
    align-items: left;}

    
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:active { text-decoration: none; }
    

    
h1,
h1 a {
    font-family: 'avenir next', avenir, sans-serif; color: #c25353;
    font-size: 36pt;
    text-decoration: none;

}


h2,
h3 {
    font-family: 'avenir next', avenir; color: #000000;
    margin-left: 20px;

}
    
h4,
h5 {
    font-family: 'avenir next', avenir, sans-serif; color: rgb(211, 211, 211);
    margin-left: 20px;
    /* margin-right: 20px; */
    font-size:smaller;}

h6 {
    /* padding: 0px 10px 10px 10px; */
    font-size:smaller;
    margin-left: 20px;
}

.artist {
    color: black;
    background-color: rgb(211, 211, 211);
    text-decoration: none;
    text-align: right;
    text-justify: center;
    font-size: xx-large;
    /* margin-top: -15px; */
    /* padding: 10px 10px 10px 0px; */

}
